html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

.banner {
  position: relative;
  margin-top: 122px;
}
.banner img {
  width: 100%;
  height: auto;
}
.banner__container {
  position: absolute;
  top: 10%;
  left: calc((100% - 1180px)/2);
  color: white;
}
.banner__title {
  font-size: 70px;
  margin-bottom: 10px;
}
.banner__subtitle {
  margin-bottom: 36px;
  font-size: 19px;
}
.banner__buttom {
  padding: 12px 10px;
  font-size: 15px;
  background-color: #f15f4e;
  color: white;
}
.banner__sup {
  color: white;
  position: absolute;
  background-color: #f15f4e;
  width: 100%;
  bottom: 0px;
  left: 0px;
}
.banner__sup__container {
  display: flex;
  max-width: 1180px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.banner__sup__strong {
  font-size: 28px;
  margin-bottom: 10px;
  margin-top: 26px;
}
.banner__sup__text {
  font-size: 19px;
  margin-bottom: 30px;
}
.banner__sup__right a {
  padding: 10px 11px;
  background-color: white;
  font-size: 15px;
  color: #f15f4e;
}

.services {
  padding-top: 88px;
}
.services__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.services__container > div {
  margin-bottom: 48px;
  width: 100%;
}
@media only screen and (min-width: 480px) {
  .services__container > div {
    width: calc((100% - (33px + 1px)) / 2);
    margin: 0 33px 48px 0;
  }
  .services__container > div:nth-of-type(2n) {
    margin-right: 0;
  }
}
@media only screen and (min-width: 768px) {
  .services__container > div {
    width: calc((100% - (33px * (4 - 1) + 1px)) / 4);
    margin: 0 33px 48px 0;
  }
  .services__container > div:nth-of-type(2n) {
    margin-right: 33px;
  }
  .services__container > div:nth-of-type(4n) {
    margin-right: 0;
  }
}
.services__item {
  color: white;
  background-color: #005a62;
  padding-bottom: 48px;
}
.services__img {
  width: 100%;
}
.services__title {
  font-size: 26px;
  margin-left: 15px;
  margin-top: 17px;
}
.services__text {
  margin-top: 16px;
  font-size: 19px;
  margin-left: 16px;
  line-height: 1.26;
  margin-bottom: 33px;
}
.services__buttom {
  color: white;
  font-size: 15px;
  padding: 13px 12px;
  background-color: #f15f4e;
  margin-left: 12px;
}

.viewed {
  padding-top: 20px;
}
.viewed__title {
  font-size: 45px;
  padding-bottom: 24px;
  color: #005a62;
}
.viewed__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 43px;
}
.viewed__left {
  position: relative;
}
.viewed__left a img {
  width: 877px;
}
.viewed__item {
  position: relative;
  margin-bottom: 20px;
}
.viewed__item a img {
  width: 272px;
}
.viewed__play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.viewed__buttom {
  display: flex;
  align-items: center;
  text-align: center;
}
.viewed__buttom a {
  color: white;
  padding: 14px 13px;
  background-color: #f15f4e;
}
.viewed__buttom::before {
  content: "";
  flex: 1;
  border-bottom: 1px solid #f15f4e;
}
.viewed__buttom::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #f15f4e;
}

.education {
  margin-top: 77px;
}
.education__img {
  width: 100%;
  height: 414px;
}
.education__title {
  font-size: 44px;
  line-height: 1.3;
  margin-bottom: 15px;
}
.education__subtitle {
  font-size: 19px;
  line-height: 1.3;
  margin-bottom: 28px;
}
.education__top {
  text-align: center;
  position: relative;
}
.education__top a {
  color: white;
  padding: 11px 12px;
  background: #f15f4e;
}
.education__top__text {
  color: white;
  padding-bottom: 36px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.education__bottom {
  margin-top: 57px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.education__bottom > div {
  margin-bottom: 65px;
  width: 100%;
}
@media only screen and (min-width: 480px) {
  .education__bottom > div {
    width: calc((100% - (30px + 1px)) / 2);
    margin: 0 30px 65px 0;
  }
  .education__bottom > div:nth-of-type(2n) {
    margin-right: 0;
  }
}
@media only screen and (min-width: 768px) {
  .education__bottom > div {
    width: calc((100% - (30px * (3 - 1) + 1px)) / 3);
    margin: 0 30px 65px 0;
  }
  .education__bottom > div:nth-of-type(2n) {
    margin-right: 30px;
  }
  .education__bottom > div:nth-of-type(3n) {
    margin-right: 0;
  }
}
.education__imgs {
  width: 100%;
}
.education__item__text {
  margin-top: 25px;
  margin-left: 20px;
  font-size: 19px;
  color: #f15f4e;
}
.education__item__text img {
  height: 24px;
}
.education__item__title {
  margin-left: 20px;
  font-size: 28px;
  margin-top: 21px;
  line-height: 1.2;
  color: #0e5a61;
}
.education__item__read {
  display: block;
  margin-top: 13px;
  margin-left: 20px;
  font-size: 19px;
  color: #0e5a61;
  text-decoration: underline;
}
.education__line {
  display: flex;
  align-items: center;
  text-align: center;
}
.education__line a {
  color: white;
  padding: 14px 13px;
  background-color: #f15f4e;
}
.education__line::before {
  content: "";
  flex: 1;
  border-bottom: 1px solid #f15f4e;
}
.education__line::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #f15f4e;
}

.about__container {
  margin-bottom: 75px;
}
.about__title {
  margin-top: 49px;
  font-size: 45px;
  color: #0e5a61;
}
.about__text {
  margin-top: 19px;
  line-height: 1.3;
  font-size: 17px;
  color: #0e5a61;
}
.about__text span {
  text-decoration: underline;
}
.about__find {
  display: inline-block;
  margin-top: 25px;
  padding: 12px 12px;
  background-color: #f15f4e;
  color: white;
}

.sub {
  background-color: #94d5da;
}
.sub__container {
  padding-top: 68px;
  padding-bottom: 60px;
}
.sub__container span {
  color: red;
}
.sub__title {
  text-align: center;
  font-size: 50px;
  color: #0e5a61;
}
.sub__subtitle {
  margin-top: 28px;
  font-size: 20px;
  text-align: center;
  color: #0e5a61;
}
.sub__content {
  display: flex;
  justify-content: center;
}
.sub__content {
  margin-top: 33px;
}
.sub__content label {
  color: #0e5a61;
}
.sub__left {
  margin-right: 60px;
}
.sub__left input, .sub__left select {
  border: none;
  height: 40px;
  width: 350px;
  margin-bottom: 17px;
}
.sub__left select {
  font-size: 21px;
  color: gray;
  padding-left: 13px;
}
.sub__left label {
  margin-bottom: -3px;
  display: block;
}
.sub__right__date input {
  height: 40px;
  width: 115px;
  border: none;
  color: gray;
  padding-left: 15px;
}
.sub__right__date label {
  margin-bottom: -3px;
  display: block;
}
.sub__right__checkbox {
  margin-top: 20px;
}
.sub__right__checkbox label:first-child {
  display: block;
  margin-bottom: -8px;
}
.sub__right__checkbox input {
  height: 24px;
  width: 24px;
  margin-left: 0px;
  border: none;
}
.sub__right__recaptcha {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background: white;
  padding: 8px;
  width: 300px;
  margin-top: 14px;
}
.sub__right__recaptcha label {
  color: black;
}
.sub__right__recaptcha input {
  height: 24px;
  width: 24px;
  margin-left: 0px;
  border: none;
}
.sub__right__recaptcha__img img {
  height: 57px;
}
.sub__right__button {
  margin-top: 30px;
}
.sub__right__button button {
  border: none;
  color: white;
  background: #0e5a61;
  padding: 13px 29px;
  font-size: 14px;
}

.header {
  padding: 14px 0;
  background-color: #005a61;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 1;
}
.header__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.header__container a {
  color: white;
}
.header__logo img {
  height: 61px;
}
.header__nav__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.header__nav__top ul {
  display: flex;
  flex-wrap: wrap;
}
.header__nav__top ul li {
  padding: 10px 20px;
  font-size: 15px;
}
.header__nav__top form {
  margin-left: 4px;
  display: flex;
}
.header__nav__top form input {
  height: 43px;
  width: 276px;
  padding-left: 15px;
  color: #0e5a61;
}
.header__nav__top form button {
  width: 50px;
  margin-left: -2px;
  border: none;
  background-color: #f15f4e;
}
.header__nav__bottom ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.header__nav__bottom ul li {
  padding: 17px;
  font-size: 18px;
  margin-right: 22px;
}
.header__nav__bottom ul li:last-child {
  margin-right: 0;
}

main {
  z-index: 0;
}

.footer {
  background-color: #e6e6e6;
}
.footer__logo {
  height: 127px;
}
.footer__top a {
  color: #0e5a61;
}
.footer__top__one {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 50px;
  border-bottom: 1px solid #0e5a61;
}
.footer__top__two {
  text-align: center;
  padding-top: 16px;
  font-size: 19px;
  color: #0e5a61;
  padding-bottom: 51px;
  border-bottom: 1px solid #0e5a61;
}
.footer__top__two__text {
  margin-bottom: 15px;
}
.footer__top__two__text span {
  text-decoration: underline;
}
.footer__top__three {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding-top: 27px;
}
.footer__top__three img {
  margin-right: 21px;
  height: 40px;
}
.footer__top__meunu {
  width: 240px;
}
.footer__top__meunu li {
  margin-bottom: 26px;
}
.footer__top__meunu a {
  font-size: 21px;
  text-decoration: underline;
}
.footer__top__social a {
  display: block;
  margin: 10px 1px;
  border-radius: 50%;
  width: 36px;
  height: 36px;
}
.footer__top__social--fb {
  background: #93D5DA url(https://www.healthymale.org.au/themes/andrology/images/andrology/icons/facebook.svg) no-repeat 50% 50%;
  background-size: 15px;
}
.footer__top__social--tw {
  background: #93D5DA url(https://www.healthymale.org.au/themes/andrology/images/andrology/icons/twitter.svg) no-repeat 50% 50%;
  background-size: 15px;
}
.footer__top__social--yt {
  background: #93D5DA url(https://www.healthymale.org.au/themes/andrology/images/andrology/icons/youtube.svg) no-repeat 50% 50%;
  background-size: 15px;
}
.footer__top__social--ig {
  background: #93D5DA url(https://www.healthymale.org.au/themes/andrology/images/andrology/icons/instagram.svg) no-repeat 50% 50%;
  background-size: 15px;
}
.footer__top__social--edin {
  background: #93D5DA url(https://www.healthymale.org.au/themes/andrology/images/andrology/icons/linkedin.svg) no-repeat 50% 50%;
  background-size: 15px;
}

/*# sourceMappingURL=styles.css.map */
